<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>All names</title>
    <link rel="stylesheet" href="/static/names-styles.css">
</head>
<body>
    <a href="/">Home</a>
    <span class="item">Treap = Tree + Heap</span>
    <span class="item">Heee = Heap + Tree</span>
    <span class="item">Дерамида = Дерево + Пирамида</span>
    <span class="item">Курево = Куча + Дерево</span>
    <span class="item">Дуча = Дерево + Куча</span>
    <span class="item">Пиво = Пирамида + Дерево</span>
</body>
</html>